<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%  load static %}
    <link rel="stylesheet" href=" {% static 'inventory/cart.css' %} ">
    <title>Document</title>
</head>
<body>
    <h2>Add to Cart Page</h2>
    <div class="product-details">
        <img src="product_image.jpg" alt="Product Image">
        {%for product.id in products%}
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>
        <p class="product-price">{{product.price}}</p>
        <button class="add-to-cart-button">Add to Cart</button>
        {%endfor%}
    </div>
    
</body>
</html>