<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Mboga Mart</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="queries.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <nav class="nav-header">
          <ul class="main-nav-list">
            <img src="/Img/mboga mtaani-solid2-1.png" alt="" class="logo">
            <li><a href="/homepage.html" class="main-nav-link">Home</a></li>
            <li><a href="/contact.html" class="main-nav-link">Contact</a></li>
            <li><a href="/About.html" class="main-nav-link">About</a></li>
            <li><a href="./signup.html" class="main-nav-link link-cta">Sign Up</a></li>
            <li><a href="./login.html" class="main-nav-link link-cta">Log In</a></li>
            <!-- <li><button class="btn btn-nav"><a href="#" class="main-nav-link link-cta">Sign Up</a> </button></li> -->
          </nav>
        </header>
        <div class="hero-section">
                <h1>Your favourite groceries delivered to you</h1>
            <img src="/Img/Bicycle-removebg-preview.png" alt="phone image" class="img-main">
        </div>
            <section class="glocery">
                <p class="p-tag1">Grocery</p>
                <div class="flex">
                <div class="grocery-plan orgs">
                    <header class="plan-header">
                      <p class="plan-name">Vegetables</p>
                    </header>
                    <ul class="list">
                      <li class="list-item">
                        <ion-icon
                          class="list-icon"
                          name="checkmark-outline"
                        ></ion-icon
                        ><span>Sukuma Wiki</span>
                      </li>
                      <li class="list-item">
                        <ion-icon
                          class="list-icon"
                          name="checkmark-outline"
                        ></ion-icon
                        ><span>Terere</span>
                      </li>
                      <li class="list-item">
                        <ion-icon
                          class="list-icon"
                          name="checkmark-outline"
                        ></ion-icon
                        ><span>Spinach</span>
                      </li>
                      <li class="list-item">
                        <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
                        <span>Cabbage</span>
                      </li>
                    </ul>
                     <div class="plan-signup">
                      <a href="./vegetables.html" class="btn btn--full">Explore More <ion-icon name="arrow-forward-outline"></ion-icon></a>
                     </div>
                  </div>
                  <div class="grocery-plan orgs">
                    <header class="plan-header">
                      <p class="plan-name">Fruits</p>
                    </header>
                    <ul class="list">
                      <li class="list-item">
                        <ion-icon
                          class="list-icon"
                          name="checkmark-outline"
                        ></ion-icon
                        ><span>Melon</span>
                      </li>
                      <li class="list-item">
                        <ion-icon
                          class="list-icon"
                          name="checkmark-outline"
                        ></ion-icon
                        ><span>Apple</span>
                      </li>
                      <li class="list-item">
                        <ion-icon
                          class="list-icon"
                          name="checkmark-outline"
                        ></ion-icon
                        ><span>Banana</span>
                      </li>
                      <li class="list-item">
                        <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
                        <span>Grapes</span>
                      </li>
                    </ul>
                    <div class="plan-signup">
                      <a href="./fruits.html" class="btn btn--full">Explore More <ion-icon name="arrow-forward-outline"></ion-icon></a>
                    </div>
                  </div>
                  <div class="grocery-plan orgs">
                    <header class="plan-header">
                      <p class="plan-name">Spices</p>
                    </header>
                    <ul class="list">
                      <li class="list-item">
                        <ion-icon
                          class="list-icon"
                          name="checkmark-outline"
                        ></ion-icon
                        ><span>Black pepper</span>
                      </li>
                      <li class="list-item">
                        <ion-icon
                          class="list-icon"
                          name="checkmark-outline"
                        ></ion-icon
                        ><span>Cinnamon</span>
                      </li>
                      <li class="list-item">
                        <ion-icon
                          class="list-icon"
                          name="checkmark-outline"
                        ></ion-icon
                        ><span>Garlic</span>
                      </li>
                      <li class="list-item">
                        <ion-icon class="list-icon" name="checkmark-outline"></ion-icon>
                        <span>Paprika</span>
                      </li>
                    </ul>
                    <div class="plan-signup">
                      <a href="./spices.html" class="btn btn--full">Explore More <ion-icon name="arrow-forward-outline"></ion-icon></a>
                    </div>
                  </div>
                </div>
            <footer class="footer" id="footer">
              <div class="grid--footer">
                  <div class="logo-col">
                    <a href="#" class="footer-logo">
                      <img
                        src="./Img/mboga mtaani-solid2-1.png"
                        alt="Mboga Mtaani logo"
                        class="logo-footer"
                      />
                      </a>
                    <ul class="social-links">
                      <li>
                        <a class="footer-link" href="#"
                          ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
                        ></a>
                      </li>
                      <li>
                        <a class="footer-link" href="#"
                          ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
                        ></a>
                      </li>
                      <li>
                        <a class="footer-link" href="#"
                          ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
                        ></a>
                      </li>
                    </ul>
                  </div>
                  <div class="address-col">
                    <p class="footer-heading">Contact us</p>
                    <address class="contacts">
                      <p class="address">
                          616 Korongo Rd, Nairobi
                      </p>
                      <p>
                        <a href="tel: +254-077-276-605" class="footer-link">+254-077-276-605</a
                        ><br />
                        <a href="mailto:hello@mbogamtaani.com" class="footer-link"
                          >hello@mbogamtaani.com</a>
                      </p>
                    </address>
                  </div>
                  <nav class="nav-col">
                    <p class="footer-heading">Account</p>
                    <ul class="footer-nav">
                      <li><a class="footer-link" href="#">Create account</a></li>
                      <li><a class="footer-link" href="#">Sign in</a></li>
                      <li><a class="footer-link" href="#">iOS app</a></li>
                      <li><a class="footer-link" href="#">Android app</a></li>
                    </ul>
                  </nav>
                  <nav class="nav-col">
                    <p class="footer-heading">Company</p>
                    <ul class="footer-nav">
                      <li><a class="footer-link" href="#about-section">About</a></li>
                      <li><a class="footer-link" href="#more-goals">Our Goals</a></li>
                    </ul>
                  </nav>
              </div>
              <p class="copyright">
                  Copyright &copy; <span class="year">2020</span> by MbogaMtaani Inc.All rights reserved
                </p>
                </footer>
    </body>
    </html>
