<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href=" {% static 'inventory/product_upload.css'%}">
    <title>Document</title>
</head>
<body>
    <h2>Product Upload Form</h2>
    <form method="POST" class="upload_form" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- #render the form -->
        {{form.as_p}}

        <button type="submit">Save</button>

    </form>
</body>
</html>