<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href=" {% static 'inventory/products_list.css'%}">
    <title>Document</title>


</head>
<body>
    <table>
        <th class="heading">
            <td>Vendor</td>
            <td>Name</td>
            <td>Description</td>
            <td>Image</td>
            <td>Edit</td>

          </th>

          {%for customer in customer%}

          <tr>
            <td>{{customer.first_name}}</td>
            <td>{{customer.last_name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.address}}</td>

            <td> <button  >Edit Product</button></td>       

         </tr>
      {%endfor%}
    </table>
    
</body>
</html>